.closed{
		display: none;
}
.open{
		display: block;
}

button{
			width:150px;
  			background-color: #00CCEE;
  			margin-left:15px;
  			font-size:120%;
  		}
.button2{   background-color: #7F7;}
.button2a{  background-color: #00Cccc;}

#demo{
  		color:white;
			background-color: #7F7F7F;
      padding:10px;
      font-size:120%
}